@import './var.scss';
@import './theme.scss';

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: SpecialSymbol,DINRegular,-apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,Hiragino Sans GB,Segoe UI,Microsoft YaHei,\5fae\8f6f\96c5\9ed1,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    position: relative!important;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    line-height: inherit;
    background-repeat: no-repeat;
}
