

@mixin theme-var( 
    $theme-white,
    $theme-black, 
    $theme-body-bg,
    $theme-color-title,
    $theme-color-module,
    $theme-module-bg,
    $theme-color-module-text
    ) {
   
    #{--color-white}: $theme-white;  //白
    #{--color-black}:$theme-black;  //黑
    #{--body-bg}: $theme-body-bg;    //背景主题色
    #{--color-title}:$theme-color-title ;  //题主色
    #{--color-module}:$theme-color-module ;  //题主色
    #{--module-bg}:$theme-module-bg ;  //题主色
    #{--color-module-text}:$theme-color-module-text;
    
}

@mixin  defaultTheme(){
    @include theme-var(
        $theme-white: #fff,    
        $theme-black: #000,        
        $theme-body-bg:#f7f7f7,
        $theme-color-title:#0088f5,
        $theme-color-module:#000000AD,
        $theme-module-bg:rgba(255, 255, 255, .6),
        $theme-color-module-text:#000000AD

    );  
}

@mixin  darkTheme(){
    @include theme-var(
        $theme-white:#000,
        $theme-black:#fff,
        $theme-body-bg:#181818,
        $theme-color-title:#b9babc,
        $theme-color-module:#5bac4a,
        $theme-module-bg:rgba(68, 68, 68, 0.6),
        $theme-color-module-text:#ffff,

    )
}