@use 'sass:math';


$body-bg: var(--body-bg);
$color-title:var(--color-title);
$color-black:var(--color-black);
$color-white: var(--color-white);
$color-module:var(--color-module);
$module-bg:var(--module-bg);
$color-module-text:var(--color-module-text)

